.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    padding: 32px;
    width: 200px;
    height: 200px;
}

.error {
    font-weight: 600;
}

.button {
    margin-top: auto;
    width: 177px;
}

.header {
    text-align: center;
}